/* CSS */
/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: large;
}

#navbar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#navbar header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nav-link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
}

.nav-link:hover {
    text-decoration: underline;
}

#main-doc {
    margin-left: 220px;
    padding: 20px;
    max-width: 800px;
}

.main-section {
    margin-bottom: 40px;
}

.main-section header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #main-doc {
        margin-left: 0;
    }
}
